<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Displacement</key>
	<array>
		<dict>
			<key>Name</key>
			<string>1.0L及以下</string>
			<key>Value</key>
			<string>0-1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>1.1L-1.6L</string>
			<key>Value</key>
			<string>1.1-1.6</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>1.7L-2.0L</string>
			<key>Value</key>
			<string>1.7-2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>2.1L-2.5L</string>
			<key>Value</key>
			<string>2.1-2.5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>2.6L-3.0L</string>
			<key>Value</key>
			<string>2.6-3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>3.1L-4.0L</string>
			<key>Value</key>
			<string>3.1-4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>4.0L以上</string>
			<key>Value</key>
			<string>4-0</string>
		</dict>
	</array>
	<key>County</key>
	<array>
		<dict>
			<key>Name</key>
			<string>中国</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>德国</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>日本</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>美国</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>韩国</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>法国</string>
			<key>Value</key>
			<string>6</string>
		</dict>
	</array>
	<key>Property</key>
	<array>
		<dict>
			<key>Name</key>
			<string>合资</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>自主</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>进口</string>
			<key>Value</key>
			<string>3</string>
		</dict>
	</array>
	<key>Structure</key>
	<array>
		<dict>
			<key>Name</key>
			<string>两厢</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>三厢</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>掀背</string>
			<key>Value</key>
			<string>3</string>
		</dict>
	</array>
	<key>Source</key>
	<array>
		<dict>
			<key>Name</key>
			<string>认证</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>商家</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>个人</string>
			<key>Value</key>
			<string>1</string>
		</dict>
	</array>
	<key>CompanyType</key>
	<array>
		<dict>
			<key>Name</key>
			<string>个人经纪</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>经销商</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>4S店</string>
			<key>Value</key>
			<string>2</string>
		</dict>
	</array>
	<key>DealerType</key>
	<array>
		<dict>
			<key>Name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>只看在售</string>
			<key>Value</key>
			<string>9</string>
		</dict>
	</array>
	<key>Order</key>
	<array>
		<dict>
			<key>Name</key>
			<string>默认排序</string>
			<key>Value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>价格最低</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>价格最高</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>最新发布</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>车龄最短</string>
			<key>Value</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>里程最少</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>资料最全</string>
			<key>Value</key>
			<string>3</string>
		</dict>
	</array>
	<key>Mileages</key>
	<array>
		<dict>
			<key>Name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>1万公里以内</string>
			<key>Value</key>
			<string>0-1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>1-3万公里</string>
			<key>Value</key>
			<string>1-3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>3-6万公里</string>
			<key>Value</key>
			<string>3-6</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>6-10万公里</string>
			<key>Value</key>
			<string>6-10</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>10万公里以上</string>
			<key>Value</key>
			<string>10-0</string>
		</dict>
	</array>
	<key>Prices</key>
	<array>
		<dict>
			<key>Name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>3万及以下</string>
			<key>Value</key>
			<string>0-3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>3-5万</string>
			<key>Value</key>
			<string>3-5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>5-8万</string>
			<key>Value</key>
			<string>5-8</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>8-10万</string>
			<key>Value</key>
			<string>8-10</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>10-15万</string>
			<key>Value</key>
			<string>10-15</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>15-20万</string>
			<key>Value</key>
			<string>15-20</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>20-30万</string>
			<key>Value</key>
			<string>20-30</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>30-50万</string>
			<key>Value</key>
			<string>30-50</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>50-100万</string>
			<key>Value</key>
			<string>50-100</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>100万以上</string>
			<key>Value</key>
			<string>100-0</string>
		</dict>
	</array>
	<key>More</key>
	<array>
		<string>车龄</string>
		<string>级别</string>
		<string>来源</string>
		<string>变速箱</string>
		<string>销售状态</string>
	</array>
	<key>Registeageregions</key>
	<array>
		<dict>
			<key>Name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>1年内</string>
			<key>Value</key>
			<string>0-1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>2年内</string>
			<key>Value</key>
			<string>0-2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>3年内</string>
			<key>Value</key>
			<string>0-3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>4年内</string>
			<key>Value</key>
			<string>0-4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>5年内</string>
			<key>Value</key>
			<string>0-5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>6年内</string>
			<key>Value</key>
			<string>0-6</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>6年以上</string>
			<key>Value</key>
			<string>6-0</string>
		</dict>
	</array>
	<key>Levels</key>
	<array>
		<dict>
			<key>Name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>微型车</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>小型车</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>紧凑型车</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>中型车</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>中大型车</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>豪华车</string>
			<key>Value</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>跑车</string>
			<key>Value</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>MPV</string>
			<key>Value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>SUVItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>不限</string>
					<key>Value</key>
					<string>9</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>小型SUV</string>
					<key>Value</key>
					<string>16</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>紧凑型SUV</string>
					<key>Value</key>
					<string>17</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>中型SUV</string>
					<key>Value</key>
					<string>18</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>中大型SUV</string>
					<key>Value</key>
					<string>19</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>全尺寸SUV</string>
					<key>Value</key>
					<string>20</string>
				</dict>
			</array>
			<key>Name</key>
			<string>SUV</string>
			<key>Value</key>
			<string>9</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>微面</string>
			<key>Value</key>
			<string>11</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>皮卡</string>
			<key>Value</key>
			<string>14</string>
		</dict>
	</array>
	<key>Sources</key>
	<array>
		<string>不限</string>
		<string>个人</string>
		<string>商家</string>
	</array>
	<key>Gearbox</key>
	<array>
		<string>不限</string>
		<string>手动挡</string>
		<string>自动挡</string>
	</array>
	<key>CarColors</key>
	<array>
		<string>黑色</string>
		<string>白色</string>
		<string>银灰色</string>
		<string>深灰色</string>
		<string>红色</string>
		<string>蓝色</string>
		<string>绿色</string>
		<string>黄色</string>
		<string>香槟色</string>
		<string>紫色</string>
		<string>其他</string>
	</array>
	<key>CarPurposes</key>
	<array>
		<string>家用</string>
		<string>运营转私人</string>
		<string>单位用车</string>
	</array>
	<key>FilterLevels</key>
	<array>
		<dict>
			<key>Name</key>
			<string>微型车</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>小型车</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>紧凑型车</string>
			<key>Value</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>中型车</string>
			<key>Value</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>中大型车</string>
			<key>Value</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>豪华车</string>
			<key>Value</key>
			<string>6</string>
		</dict>
		<dict>
			<key>SUVItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>全部SUV</string>
					<key>Value</key>
					<string>9</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>小型SUV</string>
					<key>Value</key>
					<string>16</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>紧凑型SUV</string>
					<key>Value</key>
					<string>17</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>中型SUV</string>
					<key>Value</key>
					<string>18</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>中大型SUV</string>
					<key>Value</key>
					<string>19</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>全尺寸SUV</string>
					<key>Value</key>
					<string>20</string>
				</dict>
			</array>
			<key>Name</key>
			<string>SUV</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>MPV</string>
			<key>Value</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>跑车</string>
			<key>Value</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>微面</string>
			<key>Value</key>
			<string>11</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>皮卡</string>
			<key>Value</key>
			<string>14</string>
		</dict>
	</array>
	<key>FilterColors</key>
	<array>
		<dict>
			<key>Name</key>
			<string>黑色</string>
			<key>Value</key>
			<string>0,0,0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>白色</string>
			<key>Value</key>
			<string>255,255,255</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>银灰色</string>
			<key>Value</key>
			<string>190,195,196</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>深灰色</string>
			<key>Value</key>
			<string>89,89,89</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>红色</string>
			<key>Value</key>
			<string>202,10,0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>蓝色</string>
			<key>Value</key>
			<string>0,77,151</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>绿色</string>
			<key>Value</key>
			<string>0,153,68</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>黄色</string>
			<key>Value</key>
			<string>255,246,0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>香槟色</string>
			<key>Value</key>
			<string>205,127,50</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>紫色</string>
			<key>Value</key>
			<string>79,47,79</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>其他</string>
		</dict>
	</array>
	<key>FilterDrive</key>
	<array>
		<dict>
			<key>Name</key>
			<string>前驱</string>
			<key>Value</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>后驱</string>
			<key>Value</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>四驱</string>
			<key>Value</key>
			<string>3</string>
		</dict>
	</array>
</dict>
</plist>
